@model CantinaBariri143.Models.Pedidos

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<div>
    <h4>Pedidos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alimentos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alimentos.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qtd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qtd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PedidosId" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-action="Index">Voltar</a>
    </form>
</div>
