@model CantinaBariri143.Models.Pedidos

@{
    ViewData["Title"] = "Delete";
}
<div class="d-flex justify-content-center align-items-center" style="min-height: 60vh; margin-top:60px;">
    <div class="w-100" style="max-width: 500px;">
        <div class="border rounded p-3" style="box-shadow:5px 5px 20px; background-color: #fff;">
            <h1 class="text-center mb-4">Deletar</h1>
            <hr />
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Alimentos)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Alimentos.Descricao)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Qtd)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Qtd)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DataPedido)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DataPedido)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Total)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Total)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="PedidosId" />
                <div class="row justify-content-between">
                    <div class="col-5 mt-3">
                        <input type="submit" value="Deletar" class="btn btn-danger w-100 p-2" />
                    </div>

                    <div class="col-5 mt-3">
                        <a asp-action="Index" class="btn btn-danger w-100 p-2">Voltar </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>