@model CantinaBariri143.Models.Pedidos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pedidos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alimentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alimentos.AlimentosId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qtd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qtd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PedidosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
