@model IEnumerable<CantinaBariri143.Models.Compras>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alimentos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdUnitaria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedores.FornecedoresId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alimentos.AlimentosId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdUnitaria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComprasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComprasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComprasId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
