@model IEnumerable<CantinaBariri143.Models.Vendas>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendas</h1>

<div class="row mt-5 mb-3">
    <div class="col-3">
        <a asp-action="Create" class="btn btn-outline-danger w-100"><i class="bi bi-plus-circle"></i> Adicionar</a>
    </div>

    <div class="col-9">
        <!-- Campo de Busca -->
        <form asp-action="Search" method="get" class="mb-3">
            <div class="input-group">
                <input type="text" name="searchTerm" class="form-control" placeholder="Buscar..." />
                <button type="submit" class="btn btn-outline-danger"><i class="bi bi-search"></i> Buscar</button>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.ClientesId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pedidos.PedidosId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Edit" type="button" class="btn btn-dark text-light" asp-route-id="@item.VendasId">Editar</a>
                    <a asp-action="Details" type="button" class="btn btn-dark text-light" asp-route-id="@item.VendasId">Detalhes</a>
                    <a asp-action="Delete" type="button" class="btn btn-dark text-light" asp-route-id="@item.VendasId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
